@import '../../styles/styles.scss';

.login-container {
  @include centerBoth;
  top: 30%;
  width: 50%;
  border: 7px solid $gray;
  border-radius: 5px;
  padding: 60px;
  text-align: center;
}

.login__label {
  @include regularParagraphText;
}

.login__label--no-margin {
  margin: 0;
}

.login__label--large {
  font-size: 32px;
}